.header th {
    background-color: #f60;
    color: white;
    font-size: 12px;
    padding: 2px;
    font-weight: 700;
    margin-right: 10px;
    border: 0;
}

.header .comments-head {
    width: 60px;
}

.header .vote-head {
    width: 60px;
}

.header .upvote-head {
    width: 60px;
}
