.landing-page .hide-button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
}
.landing-page .upvote-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
}

.upvote_btn svg{
    width: 20px;
}
