.landing-page tr {
  border: 0;
}
.landing-page tr:nth-child(odd) {
  background-color: #f5f4ee;
}
.landing-page tr:nth-child(even) {
  background-color: #e5e5de;
}
.landing-page tr td {
  padding: 5px 0;
  font-size: 15px;
  font-weight: 500;
}
.landing-page tr td .light {
  color: #8f908f;
  margin-left: 5px;
  margin-right: 5px;
}
.landing-page .navigation {
  font-size: 15px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.landing-page .navigation a {
  margin-right: 5px;
  color: #f60;
  font-weight: 600;
}
.landing-page .navigation a:nth-child(1) {
  padding-right: 5px;
}
