<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
